<div class="header-container__left-wrapper">
  <div class="header-container__logo"></div>
  <div class="name">
      <h1>SafeWire</h1>
      <h2>Portal</h2>
  </div>
</div>
<div class="header-container__right-wrapper">
  <div class="header-container__main-menu">
    <i class="material-icons close">
      close
    </i>
  </div>
  <div class="header-container__user-menu">
    <i class="material-icons person-pin">
        person_pin
    </i>
    <div class="user-info">
        <p class="name">Pritam Bhanji</p>
        <p class="company">Safechain Test Company</p>
    </div>
    <i class="material-icons keyboard-arrow-down">
        keyboard_arrow_down
    </i>
  </div>
</div>