<h3 class="sidebar-left__heading">Menu</h3>
<ul class="sidebar-left__nav-container">
    <li class="sidebar-left__nav-item">Orders</li>
    <li class="sidebar-left__nav-item">Support</li>
    <li class="sidebar-left__nav-item">Administration</li>
</ul>