@import 'iconfont';

// Fix for Roboto font path
$roboto-font-path: '../assets/';

//variables
// ----using css variables instead of sass variables in this instance is just a more forward friendly solution
:root {
    --main-bg-color: #efefef;
    --main-text-color: #2b2b2b;
    --header-bg-color: #ffffff;
    --header-text-color: #2b2b2b;
    --nav-bg-color: #292C38;
    --nav-text-color: #B2B5BC;
    --strip-bg-color: linear-gradient(to right, #02ADFF, #1071FF);
    --strip-text-color: #efefef;
}

// normalize
// i chose resets instead of mixins, even though BEM recommends mixins, for the sake of time only
h1, h2, h3, h4, h5, h6, p, ul, li {
    margin-block-start: 0;
    margin-block-end: 0;
}

ul {
    padding-inline-start: 0;
}

// application helpers

// ----flex
// --------example of how we could use mixins to build common flex class combinations to include in our BEM declarations, simplifying the code implementation while providing still fully portable blocks

@mixin row-start-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

body {
    font-size: 16px; // set base
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

// ----grid
// -------a simple, non-responsive example of how we could initially configure the application using grid, then flex within the grid sections; were I to build a fully responsive version, I would have structured this differently
.app-grid {
    height: 100vw;
    display: grid;
    grid-template-rows: 3.5rem 1fr;
    grid-template-columns: 18.125rem 1fr;
    grid-template-areas: 
        "heading heading"
        "sidebar main-content"
}

.app-grid > header {
    grid-area: heading;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-grid > nav {
    grid-area: sidebar;
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
}

.app-grid > main {
    grid-area: main-content;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

// header
// ------------------------------------------------------------
// block = header-container
// elements = logo, main-menu, user-menu
// modifiers = main_menu: expanded, collapsed
// modifiers = user_menu: expanded, collapsed
// ------------------------------------------------------------
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3.5rem;
    align-items: center;
}

.header-container__left-wrapper {
    @include row-start-center;
    width: 27.125rem;
    & .name {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        & h1 {
            font-size: 1.25rem;
        }
        & h2 {
            font-size: .75rem;
            text-transform: uppercase;
            font-weight: 400;
        }
    }
}

.header-container__right-wrapper {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
}
.header-container__logo {
    background-image: url("/images/logo_only.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 2.5rem;
    width: 2.5rem;
    margin: .5rem;
}

.header-container__main-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header-container__user-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 .5rem 0 0;
    & .person-pin {
        font-size: 2rem;
    }
    & .user-info {
        display: flex;
        flex-direction: column;
        color: var(--header-text-color);
        margin: 0 .5rem 0 1rem;
        & .name {
            font-size: 1rem;
        }
        & .company {
            font-size: .75rem;
            color: #a1a1a1;
        }
    }
}

//sidebar
//----------------------------------------------------------
// block = sidebar-left
// elements = heading, nav-item, nav-container
.sidebar-left {
    margin: 1rem;
}
.sidebar-left__heading {
    text-transform: uppercase;
    font-size: 1rem;
}

.sidebar-left__nav-container {
    list-style-type: none;
    margin: 1rem;
}

.sidebar-left__nav-item {
    text-decoration: none;
    margin: 1.5rem 0;
}


// main content background strip
// ------------------------------------------------------------
// block = strip, orders_list
// elements = strip_counts, strip_menu, sort_row, order_row
// ------------------------------------------------------------
.strip {
    background-image: var(--strip-bg-color);
    color: var(--strip-text-color);
    height: 10.75rem;
}